* text=auto

*.bat text eol=crlf

dbase/**/*.txt text eol=lf

source/**/*.sln text eol=crlf
source/**/*.vcxproj* text eol=crlf

website/**/*.css text eol=lf
website/**/*.html text eol=lf
website/**/*.js text eol=lf
website/**/*.txt text eol=lf

website/ilwn-server/*.conf text eol=lf
website/ilwn-server/db.* text eol=lf
website/ilwn-server/dmaslov.* text eol=lf
website/ilwn-server/named.* text eol=lf
