/* Palindromic dates (blog article) */

table.paldates {
	margin: 20px auto;
	width: 100%;
	border-collapse: separate;
	border-spacing: 1px;
	background: #b8b8b8;
}

table.paldates tr {
	background: #fff;
}

table.paldates tr:nth-child(2n+2) {
	background: #f8f8f8;
}

table.paldates tr:nth-child(1) {
	background: #fc9;
}

table.paldates tr:nth-child(2) {
	background: #e8e8e8;
}

table.paldates tr:nth-child(1) td,
table.paldates tr:nth-child(2) td {
	text-align: center;
}

table.paldates td {
	padding: 1px 5px 2px;
	text-align: center;
}

table.paldates td:nth-child(1) {
	width: 22%;
	text-align: left;
}

table.paldates td:nth-child(2) {
	width: 8%;
}

table.paldates td:nth-child(3),
table.paldates td:nth-child(4) {
	width: 20%;
}

table.paldates td.t2 {
	background: #a8ccff;
}

table.paldates td.t3 {
	background: #aea;
}

table.paldates td.t4 {
	background: #f9c;
}

table td span.year,
p span.paldate-year {
	color: #b30;
}

table td span.month,
p span.paldate-month {
	color: #080;
}

table td span.day,
p span.paldate-day {
	color: #33e;
}

table.paldates div.week {
	margin-left: 10px;
	float: right;
	color: #666;
}

/* Adaptive design */

@media screen and (max-width: 665px) {
	table.paldates div.week {
		display: none;
	}
}

@media screen and (max-width: 400px) {
	table.paldates td:nth-child(5),
	table.paldates td:nth-child(6) {
		display: none;
	}
}
