body {
	margin: 8px 0 6px;
	font-family: Verdana, sans-serif;
	font-size: 87.5%; /* 14.0px */
	line-height: 1.429; /* 20.0px */
	background: white;
	color: #242424;
}

/* Gists classes */

.gist-data {
	max-height: 550px; /* 25 lines */
	overflow-y: auto;
}

/* Built-in classes */

a:link {
	text-decoration: none;
	color: #04f;
}

a:visited {
	text-decoration: none;
	color: #4880ff;
}

a:hover {
	text-decoration: underline;
}

h2 a, h2 a:visited,
h3 a, h3 a:visited {
	color: unset;
}

h2 a:hover,
h3 a:hover {
	text-decoration: none;
	color: #26f;
}

hr {
	margin: 0;
	border: none;
	height: 1px;
	background: #ccc;
}

td {
	padding: 2px;
}

h1, h2, h3 {
	font-family: Tahoma, sans-serif;
	font-size: 114.29%; /* 16.0px */
	line-height: 1.437; /* 23.0px */
	text-align: center;
}

h1 {
	margin: 20px auto;
	padding: 0 15px;
	max-width: auto;
	font-size: 157.14%; /* 22.0px */
	line-height: 1.364; /* 30.0px */
}

h1.blog {
	margin-bottom: 8px;
}

h2 {
	margin: 36px auto 8px;
	padding: 1px 15px 2px;
	max-width: 768px;
	background: #e8e8e8;
	border: 1px solid #ccc;
	border-radius: 5px;
}

h3 {
	margin: 28px auto 8px;
	padding: 0 0 1px;
	max-width: 800px;
	text-align: left;
	border-bottom: 1px solid #aaa;
}

div, p {
	margin: 0;
	padding: 0;
}

ol, ul {
	margin: 8px 0 0;
	padding: 0 20px 0 40px;
}

li {
	margin: 0;
}

ul > li::marker {
	font-size: 95%;
	color: #666;
}

pre.output {
	padding: 2px 6px;
	font-family: Consolas, monospace;
	font-size: 87.5%; /* 14.0px */
	line-height: 1.429; /* 20.0px */
	overflow-x: auto;
	background: #f8f8f8;
	border: 1px solid #d6d6d6;
	border-radius: 5px;
}

input {
	font-size: 100%; /* 14.0px*/
	line-height: 1.429; /* 20.0px */
}

/* Navigation bar classes */

table.navbar {
	width: 100%;
	min-height: 40px;
	border-collapse: separate;
	border-spacing: 5px;
	position: fixed;
	z-index: 100;
	left: 0;
	top: 0;
	background: #303030;
}

.navbar td.logo {
	padding: 2px;
	width: 120px;
	font-family: Tahoma, sans-serif;
	font-size: 142.9%; /* 20.0px */
	line-height: 1.2; /* 24.0px */
	font-weight: bold;
	text-align: center;
	color: #a8a8a8;
}

.navbar td.logo a {
	text-decoration: none;
	color: inherit;
}

.navbar td.logo a:hover {
	color: #4af;
}

.navbar td.divider {
	padding: 0;
	width: 2px;
	min-width: 2px;
	background: #646464;
}

.navbar div.flexitems {
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
}

.navbar div.flexitem {
	margin: 2px 5px;
}

.navbar div.home {
	margin-left: 22px;
}

.navbar div.navitem {
	padding: 5px 14px 4px;
	line-height: 1.2;
	font-weight: bold;
	color: #e0e0e0;
	border-radius: 8px;
	transition: background 0.12s, color 0.12s;
}

.navbar div.navitem:hover {
	background: white;
	color: #303030;
}

.navbar div.active {
	color: #fe6;
}

.navbar div.svg,
.navbar div.svgactive {
	padding: 0 12px;
}

.navbar .svg svg path,
.navbar .svgactive svg path {
	fill: #e0e0e0;
	fill-opacity: 1.0;
	transition: fill 0.12s;
}

.navbar .svgactive svg path {
	fill: #fe6;
}

.navbar .svg:hover svg path,
.navbar .svgactive:hover svg path {
	fill: #303030;
}

/* Footer classes */

hr.footer {
	margin: 40px 0 6px;
	background: #aaa;
}

td.footer {
	padding: 0;
	font-size: 92.86%; /* 13.0px */
	line-height: 1.462; /* 19.0px */
	color: #727272;
}

td.footer .dot {
	margin: 0 8px;
}

/* Custom classes: common */

a.nodecor {
	text-decoration: none;
	color: inherit;
}

a.jsanchor {
	cursor: pointer;
	color: #04f;
}

table.nospacing {
	border-collapse: separate;
	border-spacing: 0;
}

table.basic {
	margin: 12px auto;
	border-collapse: separate;
	border-spacing: 1px;
	background: #b8b8b8;
}

table.basic tr {
	background: #fff;
}

table.basic tr:nth-child(2n+1) {
	background: #f8f8f8;
}

table.basic tr:first-child {
	background: #e8e8e8;
}

table.basic td {
	padding: 1px 5px 2px;
	text-align: center;
}

.column {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 800px;
	text-align: left;
}

.text {
	margin: 8px auto 14px;
	text-align: justify;
}

.notopmargin {
	margin-top: 0;
}

.nobottommargin {
	margin-bottom: 0;
}

.noheadertop {
	margin-top: 28px;
}

.txtleft,
table.basic td.txtleft {
	text-align: left;
}

.txtright,
table.basic td.txtright {
	text-align: right;
}

.txtcenter {
	text-align: center;
}

.breakable {
	display: inline-block;
	word-break: break-all;
}

.footnote {
	margin: 6px auto;
	text-align: justify;
	color: #484848;
}

.divider {
	margin: 15px auto;
	text-align: center;
}

.divider,
.lightgrey {
	color: #b0b0b0;
}

.errorred {
	color: #e00;
}

.tiny {
	font-size: 85.71%; /* 12.0px */
	line-height: 1.417; /* 17.0px */
}

.small {
	font-size: 92.86%; /* 13.0px */
	line-height: 1.462; /* 19.0px */
}

.big {
	font-family: Tahoma, sans-serif;
	font-size: 128.57%; /* 18.0px */
	line-height: 1.444; /* 26.0px */
}

.prjtag-hw,
.prjtag-eslp,
.prjtag-mdpn,
.prjtag-p196 {
	margin: 0 2px;
	padding: 0 6px;
	font-weight: bold;
	border-radius: 5px;
}

.prjtag-hw {
	background: #ffa8ff;
	color: black;
}

.prjtag-eslp {
	background: #b8f690;
	color: black;
}

.prjtag-mdpn {
	background: #c8e0ff;
	color: black;
}

.prjtag-p196 {
	background: #ffe0c0;
	color: black;
}

.p196tag {
	margin-right: 2px;
	padding: 0 3px;
	font-weight: bold;
	background: #ffe0c0;
	color: #630;
	border-radius: 5px;
	cursor: default;
}

.codetext {
	font-family: Consolas, monospace;
	color: #a00;
}

.mathtext {
	font-family: 'Noto Sans Math', sans-serif;
	font-size: 114.29%; /* 16.0px */
	line-height: 1.375; /* 22.0px */
	text-align: center;
	color: #333;
}

.mathtext sup {
	font-size: 75%;
	position: relative;
	top: -1px;
}

.mathtext sub {
	font-size: 65%;
}

.mathtext > .ref {
	float: right;
	color: #666;
}

.mathtext:hover > .ref {
	color: #f33;
}

.hover-gbg:hover {
	background: linear-gradient(90deg, #fff0, #0001, #fff0);
}

/* Custom classes: site map */

div#mapLinks {
	color: #666;
}

div#mapLinks div {
	margin-left: 30px;
}

.column p.e-link {
	padding: 0 0 3px 12px;
	border-left: 4px solid #3c7;
	background: linear-gradient(90deg, #f4fff4, #fff, #fff);
}

.column p.o-link {
	padding: 0 0 3px 12px;
	border-left: 4px solid #6af;
	background: linear-gradient(90deg, #f0f4ff, #fff, #fff);
}

/* Custom classes: blog */

div.articletitle,
div.blogposttitle {
	padding-bottom: 2px;
	font-weight: bold;
}

div.articletitle {
	border-bottom: 1px solid #f96;
}

div.articletitle a {
	text-decoration: none;
	color: unset;
}

div.articletitle a:hover {
	color: #26f;
}

div.blogposttitle {
	border-bottom: 1px solid #7af;
}

.articledate {
	margin-top: 6px;
	font-style: italic;
	color: #808080;
}

.readingtime {
	margin-top: 20px;
	margin-bottom: 15px;
	text-align: center;
	font-style: italic;
	color: #888;
}

div.bloglinks-top,
div.bloglinks-bottom {
	color: #b8b8b8; /* Inactive link */
}

div.bloglinks-top {
	margin: 6px auto 15px;
}

div.bloglinks-bottom {
	margin: 25px auto;
	text-align: center;
}

div.bloglinks-bottom span {
	display: inline-block;
}

div.bloglinks-bottom span.divider {
	margin-left: 10px;
	margin-right: 10px;
}

div.bloglinks-top span.link,
div.bloglinks-bottom span.link {
	cursor: pointer;
	color: #04f;
}

div.bloglinks-top span.link:hover,
div.bloglinks-bottom span.link:hover {
	text-decoration: underline;
}

/* Custom classes: MDPN records page */

span.dpalcandidate {
	padding: 0 4px;
	font-size: 12px;
	font-weight: bold;
	background: #ffd8b0;
	color: #633;
	border-radius: 8px;
}

div.column div.dpal {
	margin: 24px auto;
	overflow-x: auto;
	font-size: 92.86%; /* 13.0px */
	line-height: 1.308; /* 17.0px */
}

table.dpal {
	width: 100%;
	border-collapse: separate;
	border-spacing: 1px;
	background: #b8b8b8;
}

table.dpal tr {
	background: #fff;
}

table.dpal tr:first-child {
	background: #e8e8e8;
}

table.dpal tr:first-child > td {
	height: 34px;
}

table.dpal tr:nth-child(n+3) {
	font-family: Consolas, monospace;
}

table.dpal tr:nth-child(2n+4) {
	background: #f8f8f8;
}

table.dpal tr:nth-child(n+3):hover {
	background: #fffca8;
}

table.dpal td {
	padding: 2px 5px 3px;
	text-align: center;
}

table.dpal td:first-child {
	width: 215px;
	min-width: 160px;
	white-space: nowrap;
}

table.dpal td:nth-child(2),
table.dpal td:nth-child(3) {
	width: 60px;
	min-width: 50px;
}

table.dpal td:nth-child(3) {
	border-left: 1px solid #b8b8b8;
}

table.dpal td:nth-child(4) {
	min-width: 150px;
}

table.dpal tr:nth-child(2) > td:nth-child(2) {
	border-left: 1px solid #b8b8b8;
	text-align: left;
}

table.dpal tr:nth-child(n+3) > td:first-child {
	text-align: right;
}

table.dpal tr:nth-child(n+3) > td:nth-child(4) {
	text-align: left;
}

table.dpal td.green {
	padding: 2px 6px 3px;
	background: #9e9;
}

table.dpal td.yellow {
	padding: 2px 6px 3px;
	background: #fd9;
}

table.dpal span.loading {
	font-style: italic;
	color: #808080;
}

table.dpal .pal-short {
	display: none;
}

table.dpal .pal-wide {
	display: inline-block;
}

table.dpal .pal-active {
	cursor: pointer;
}

table.dpal .pal-active:hover {
	color: #f30;
}

/* Custom classes: MDPN palindromes page */

div.column div.pal {
	margin: 24px auto;
	overflow-x: auto;
	font-size: 92.86%; /* 13.0px */
	line-height: 1.308; /* 17.0px */
}

div.pal span.paltag-length {
	padding: 0 4px;
	font-size: 12px;
	font-weight: bold;
	background: #c0c0c0;
	color: white;
	border-radius: 8px;
}

table.pal {
	width: 100%;
	border-collapse: separate;
	border-spacing: 1px;
	background: #b8b8b8;
}

table.pal tr {
	background: #fff;
}

table.pal tr:first-child {
	background: #e8e8e8;
}

table.pal tr:nth-child(2n+3) {
	background: #f8f8f8;
}

table.pal tr:nth-child(n+2):hover {
	background: #fffca8;
}

table.pal td {
	padding: 2px 5px 3px;
	text-align: center;
}

table.pal td:first-child,
table.pal td:nth-child(3),
table.pal td:nth-child(4) {
	width: 60px;
	min-width: 50px;
}

table.pal td:nth-child(2) {
	width: 190px;
	min-width: 160px;
}

table.pal td:nth-child(3) {
	width: 65px;
}

table.pal tr:nth-child(n+2) > td:nth-child(5) {
	font-family: Consolas, monospace;
	text-align: left;
	white-space: nowrap;
}

/* Custom classes: others */

div.statusblock {
	margin-top: 12px;
	columns: auto 280px;
	column-gap: 12px;
}

div.statusblock div {
	break-inside: avoid;
}

div.statusblock > div {
	margin-top: 12px;
	padding: 4px 7px;
	font-size: 85.71%; /* 12.0px */
	line-height: 1.417; /* 17.0px */
	background: #fafafa;
	border: 1px solid #ddd;
	border-radius: 5px;
}

div.statusblock > div:first-child {
	margin-top: 0;
}

div.statusblock .header {
	font-size: 108.33%; /* 13.0px */
	line-height: 1.462; /* 19.0px */
	text-align: center;
}

div.statusblock hr {
	margin: 3px 0 6px;
	background: #d4d4d4;
}

ul.news {
	padding-left: 30px;
}

ul.news > li {
	margin-bottom: 4px;
}

span.newsdate {
	font-style: italic;
	color: #484848;
}

div.newstitle {
	padding-bottom: 2px;
	font-weight: bold;
	border-bottom: 1px solid #aaa;
}

span.update {
	margin-right: 3px;
	padding: 0 4px 1px;
	font-weight: bold;
	background: #e0d;
	color: #fff;
	border-radius: 5px;
}

div.contentsbox {
	float: right;
	max-width: 320px;
	margin-left: 15px;
	padding: 3px 8px 5px;
	background: #ffc;
	border: 1px solid #a96;
	border-radius: 5px;
}

div.allterms {
	margin: 15px auto;
	padding: 4px 0;
	max-width: 700px;
	font-size: 85.71%; /* 12.0px */
	line-height: 1.75; /* 21.0px */
	text-align: center;
	border-top: 2px dotted #d4d4d4;
	border-bottom: 2px dotted #d4d4d4;
	background: linear-gradient(90deg, #fff, #fafafa, #fff);
}

div.allterms > div {
	margin: 0 10px;
	display: inline-block;
	white-space: nowrap;
}

div.termheader {
	padding-bottom: 2px;
	width: -moz-fit-content;
	width: fit-content;
	font-weight: bold;
	color: #f50;
	border-bottom: 1px solid #f50;
}

.column div.patrons {
	font-weight: bold;
	font-style: italic;
	text-align: center;
	columns: auto 225px;
	column-rule: 3px dotted #e0e0e0;
}

.column div.patrons[data-col-count="2"] {
	column-width: 275px;
}

.column div.patrons span {
	font-weight: normal;
	color: #585858;
}

.column div#yoomoney {
	width: 400px;
}

.column .hwitem {
	margin: 8px auto 10px;
	padding: 5px 12px 3px;
	background: #f2f2f2;
	border: 1px solid #d4d4d4;
	border-left: 4px solid #a0a4a8;
	border-radius: 3px;
}

.column .hwitem-cpu {
	border-left-color: #3c7;
}

.column .hwitem-gpu {
	border-left-color: #f95;
}

.column .hwitem div.text {
	margin: 8px 0 5px;
}

.column .hwitem span.cores {
	font-weight: bold;
	font-style: italic;
	color: #666;
}

.column .hwitem .details {
	margin-left: 25px;
	color: #484848;
}

/* Adaptive design */

@media screen and (max-width: 850px) {
	table.dpal .pal-short {
		display: inline-block;
	}

	table.dpal .pal-wide {
		display: none;
	}
}

@media screen and (max-width: 830px) {
	h2 {
		max-width: 100%;
		border-width: 1px 0;
		border-radius: 0;
	}

	h3 {
		margin-left: 15px;
		margin-right: 15px;
		max-width: 100%;
	}

	.navbar td.logo {
		width: 15.3%;
	}

	.navbar div.flexitems {
		align-items: center;
		justify-content: center;
	}

	.navbar div.home {
		margin-left: 0;
	}

	.column {
		max-width: 100%;
	}

	.noheadertop {
		margin-top: 10px;
	}
}

@media screen and (max-width: 725px) {
	table.pal td:nth-child(2) {
		width: auto;
	}

	table.pal td:nth-child(5) {
		display: none;
	}
}

@media screen and (max-width: 540px) {
	h1 {
		padding-left: 15px;
		padding-right: 15px;
		max-width: 100%;
		border-width: 1px 0;
		border-radius: 0;
	}

	td.footer .dot {
		visibility: hidden;
	}

	div#mapLinks div {
		margin-left: 25px;
	}

	div#mapLinks div:first-child {
		margin-left: 0;
	}

	div.bloglinks-bottom span {
		margin-left: 15px;
		margin-right: 15px;
	}

	div.bloglinks-bottom span.divider {
		display: none;
	}

	table.dpal td:nth-child(n+3),
	table.dpal tr:nth-child(2) > td:nth-child(n+2) {
		display: none;
	}

	table.dpal td:first-child {
		width: auto;
	}

	table.dpal td:nth-child(2) {
		width: 75px;
	}

	div.contentsbox {
		float: none;
		max-width: 100%;
		margin-left: 0;
	}

	div.allterms > div {
		margin-bottom: 6px;
	}

	.column div#yoomoney {
		width: 100%;
	}
}

@media screen and (max-width: 330px) {
	.navbar td.logo,
	.navbar td.divider {
		display: none;
	}
}
